@import url('https://fonts.googleapis.com/css?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');

#dashboard {
    -fx-background-color: #1e1b1c;
}

#boardContainer {
    -fx-font-family: "Gochi Hand";
    -fx-font-size: 60;
    -fx-text-fill: #F7CE86;
}

#playerTurn {
    -fx-font-family: "Gochi Hand";
    -fx-font-size: 20px;
    -fx-text-fill: #432A31;
}

#errorMessage {
    -fx-font-family: "Itim";
    -fx-font-size: 17px;
    -fx-text-fill: 	#632621;
}

#infoPane {
    -fx-background-color: #F7CE86;
    -fx-background-insets: 10 10 27 10;
    -fx-background-radius: 7;
    -fx-padding: 15 20;
}

#heal {
    -fx-translate-y: 3;
    -fx-text-fill: #DE9C46;

    -fx-background-color: #382F33;
}

Button {
    -fx-font-family: "Gochi Hand";
    -fx-font-size: 22px;
    -fx-text-fill: #382F33;

    -fx-background-color: #DE9C46;
}