@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');

#body {
    -fx-background-color: #1e1b1c;
}

{
    -fx-font-family: "Gochi Hand";
    -fx-font-size: 35px;
    -fx-text-fill: #382F33;
}

.boardOption {
    -fx-background-color: #F7CE86;
    -fx-padding: 50;
}

#submitButton {
    -fx-background-color: #DE9C46;
    -fx-padding: 15 25;
}